<% if logged_in? %>
  <div class="col-sm-12">
    <h3>Followしているユーザと自分の質問を表示↓</h3>
    <%= render 'questions/questions', questions: @questions %>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
  <div class="col-sm-12">
    <h3>質問一覧</h3>
    <%= render 'questions/questions', questions: @question %>
  </div>
<% end %>